@font-face {
    font-family: 'Abril Fatface';
    font-weight: 400;
    src: url(.\fonts\AbrilFatface-Regular.ttf) format('truetype')
}


:root {
    --clr-primary-regular: #2C666E;
    --clr-secondary: #90DDF0;
    
    --clr-black: #0A090C;
    --clr-dark: #07393C;
    
    --clr-white: #F0EDEE;

    --clr-accent: #d876e0;

    --fnt-family: 'Abril Fatface';
    --fnt-weight: 400;
}

body {
    background-color: var(--clr-white);
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

section {
    overflow: hidden;
}

.logo {
    font-size: 2.7rem;
    font-weight: bold;
    color: var(--clr-dark);
}

.decorated-text {
    position: relative;
}

.inverted {
    color: var(--clr-secondary);
    background-color: transparent;
}

.inverted::before {
    background-color: var(--clr-secondary);
}


.nav-link, .active {
    color: var(--clr-dark);
}

.decorated-text::before {
    content: '';
    background-color: var(--clr-secondary);
    position: absolute;
    top: 13px;
    left: 8px;
    height: 90%;
    width: 100%;
    z-index: -1;
    display: inline-block;
    animation: fade-in 300ms ease-in;
}

@keyframes fade-in {
    from {
        width: 0;
    }
    to {
        width: 90%;
    }
}

.highlight::before {
    left: 0px;
    height: 45%;
}

footer {
    background-color: var(--clr-dark);
    position: relative;
}

.social-links > * {
    color: var(--clr-secondary);
    font-size: 1.4rem;
}

.social-links > *:hover {
    color: var(--clr-white);
}

.section-dark {
    background-color: var(--clr-dark);
}