@import url(./general.css);

.bg-yellow {
    background-color: #f0f040e5;
    color: var(--clr-dark);
}

.project-card {
    max-width: 650px;
    position: relative;
    overflow: visible;
    transition: all 1s ease-in;
}

.floating-img {
    max-width: 170px;
    top: -5.2rem;
    right: 1rem;
    position: absolute;
    opacity: 0;
    transition: all 300ms ease-in;
}

.img-card {
    margin: 0;
    max-height: 150px;
    object-fit: cover;
}

.project-card:hover {
    scale: 1.05;
}

.project-card:hover .floating-img {
    opacity: 1;
    display: block;
    top: -5.2rem;
    animation: wave 1s ease-in-out infinite alternate;
}

@keyframes wave {
    0% {
        top: -6rem;
    }
    100% {
        top: -4.2rem;
    }
}

.img-large {
    width: 30rem;
    top: -5rem;
}

.grid-container {
    width: 99vw;
}

.accent {
    background-color: var(--clr-dark);
    color: var(--clr-white);
}

@media screen and (min-width: 992px) {
    .grid-container {
        margin: 2rem;
        display: grid;
        max-height: 1000px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }
}

.project-card {
    grid-column: auto / span 2;
}

.project-card.tall {
    grid-row: auto / span 1;
}

.project-card.wide {
    grid-column: auto / span 4;
}

.badge[data-language] {
    color: var(--clr-white);
}

.badge[data-language="html"] {
    background-color: rgb(223, 42, 42);
}

.badge[data-language="css"] {
    background-color: rgb(40, 209, 209);
}

.badge[data-language="javascript"] {
    color: var(--clr-dark);
    background-color: rgb(243, 243, 12);
}

.badge[data-language="react"] {
    background-color: rgba(40, 209, 209, 0.87);
}

.badge[data-language="vue"] {
    background-color: rgb(18, 219, 18);
}

